/*@import "normalize.css";*/
body, html {
    width: 100%;
    height: 100%;
}
body, div, span, a, img, h1, h2, h3, h4, h5 {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-shrink: 0;
    align-content: flex-start;
    border: 0 solid black;
    margin: 0;
    padding: 0;
    position: relative;
    /* transition */
    -moz-transition: all 2s;
    -webkit-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s;
}
body {
    color: #202020;
    font-family: "Avenir Next", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 100;
    /*background-image: url('../img/bg.jpg');
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain;*/
}
h1 {
    font-size: 64px;
    font-weight: 100;
}
h2 {
    font-size: 48px;
    font-weight: 100;
}
h3 {
    font-size: 24px;
    font-weight: 100;
}
p {
    font-size: 16px;
}
a {
    font-weight: 400;
}
/* ------------------------------------------------------- hey we go!!! */
#app {
    width: 500px;
    height: 300px;
}
