@import "normalize.css";
body, html {
    width: 100%;
    height: 100%;
}
body, div, span, a, img, h1, h2, h3, h4, h5 {
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-shrink: 0;
    align-content: flex-start;
    border: 0 solid black;
    margin: 0;
    padding: 0;
    position: relative;
    /* transition */
    -moz-transition: all 2s;
    -webkit-transition: all 2s;
    -o-transition: all 2s;
    transition: all 2s;
}
body {
    color: #202020;
    font-family: "Avenir Next", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 100;
    background-image: url('../img/bg.jpg');
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain;
}
h1 {
    font-size: 64px;
    font-weight: 100;
}
h2 {
    font-size: 48px;
    font-weight: 100;
}
h3 {
    font-size: 24px;
    font-weight: 100;
}
p {
    font-size: 16px;
}
a {
    font-weight: 400;
}

/*a:hover {
  font-weight: 400;
  color: #DADADA;
  text-decoration: none;
}
*/


/* ------------------------------------------------------------- hey we go!!! */

.site {
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    z-index: 3;
    background: linear-gradient(to bottom, rgba(247, 248, 250, 1) 70%, rgba(247, 248, 250, 0) 100%);
}

/* --------------------------------------------------------------- site__main */

.site__main {
    flex-direction: row;
    flex-wrap: nowrap;
    width: 70%;
}
.site__left-sidebar {
    flex-basis: auto;
    flex-grow: 0;
    width: 170px;
    position: fixed;
}
.site__title {
    font-family: AmericanTypewriter-Bold;
    color: #6B7A89;
    font-size: 48px;
    margin: 65px auto 33px 20%;
}
.site__content {
    margin-left: 170px;
    flex-basis: 0;
    flex-grow: 1;
}
.products {
    flex-wrap: wrap;
    flex-direction: row;
}
.product {
    width: 50%;
    padding: 15px;
    flex-direction: column;
}
.product__display {
    border: 5px #D8D8D8 solid;
    padding: 35px 35px 20px 35px;
    background-color: #FFF;
}
.product__img {
    width: 100%;
}
.product__add {
    width: 60px;
    height: 60px;
    background-color: #D8D8D8;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    overflow: hidden;
    margin: 20px auto 0 auto;
    cursor: pointer;
}
.product__add__icon {
    /*width: 50%;*/
}
.product__price {
    position: absolute;
    right: 0;
    top: 0;
    font-family: AvenirNext-DemiBold;
    font-size: 24px;
    color: #353B46;
    padding: 20px;
}
.product__description {
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 15px 10px 15px 10px;
    justify-content: space-between;
}
.product__name {
    width: 90%;
}
.product__heart {
    /*width: 10%;*/
}
.product__heart-liked {}

/* ------------------------------------------------------ site__right-sidebar */

.site__right-sidebar {
    flex-basis: auto;
    flex-grow: 0;
    width: 30%;
    position: fixed;
    height: 100%;
    color: #202020;
    font-size: 24px;
    font-family: AvenirNext-UltraLight;
    padding: 0 15px;
    background: linear-gradient(to bottom, rgba(196, 204, 218, 1) 70%, rgba(196, 204, 218, 0) 100%);
}
.cart {
    flex-basis: 0;
    flex-grow: 1;
}
.cart__title {
    position: fixed;
    z-index: 4;
    width: 100%;
    background-color: rgba(196, 204, 218, 0.8);
    padding-bottom: 10px;
}
.cart__content {
    padding-top: 10%;
    overflow: scroll;
    height: 100%;
    padding-bottom: 20px;
    flex-basis: auto;
    flex-grow: 1;
}
.cart-item {
    padding-top: 10px;
    padding-bottom: 10px;
}
.cart-item__top-part {
    flex-direction: row;
    justify-content: space-between;
}
.cart-item__image {
    width: 33%;
    border: 3px #D8D8D8 solid;
    padding: 3px 12px;
    background-color: #FFF;
}
.cart-item__image img {
    width: 100%;
    margin: 0 auto;
}
.cart-item__top-part__middle {
    font-size: 18px;
    color: #202020;
    flex-grow: 1;
    padding-left: 25px;
}
.cart-item__title {
    font-family: AvenirNext-UltraLight;
}
.cart-item__price {
    font-family: AvenirNext-Regular;
}
.cart-item__trash {
    flex-grow: 0;
    cursor: pointer;
    padding-right: 3%;
}
.cart-item__qty {
    width: 33%;
}
.adjust-qty {
    flex-direction: row;
    justify-content: center;
    padding-top: 12px;
}
.adjust-qty__number {
    font-family: AvenirNext-UltraLight;
    font-size: 18px;
    color: #202020;
    text-align: center;
    width: 30%;
}
.adjust-qty__button {
    background: #F7F8FA;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #C4CCDA;
    cursor: pointer;
}

/* ----------------------------------------------------------------- checkout */

.checkout {
    flex-basis: auto;
    flex-grow: 0;
    font-size: 24px;
    color: #202020;
    padding-bottom: 5%;
}
.checkout__divider {
    border: none;
    border-top: 1px solid #979797;
    width: 40%;
    background-color: transparent;
    margin-top: 5%;
    margin-bottom: 10%;
}
.checkout__coupon-input {
    font-family: AvenirNext-UltraLight;
    font-size: 18px;
    color: #202020;
    background: #F7F8FA;
    border: 2px solid #D8D8D8;
    padding: 2px 10px;
    width: 90%;
    margin-bottom: 5%;
}
.checkout__amount {
    font-family: AvenirNext-Regular;
    font-size: 24px;
    color: #202020;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 20px 0 0;
}
.checkout__amount--title {
    font-family: MicrosoftJhengHeiRegular;
}
.checkout__amount--num {
    text-align: right;
}
.checkout__price--title {
    font-weight: bold;
}
.checkout__price--strikeout {
    text-decoration: line-through;
    font-family: AvenirNext-Regular;
}
.checkout__price--saving {
    font-family: AvenirNext-Bold;
    color: #DC1A00;
    align-self: flex-end;
    text-align: right;
}
.checkout__btn {
    flex-direction: row;
    justify-content: center;
    width: 70%;
    background-color: #80A590;
    font-family: AvenirNext-DemiBold;
    font-size: 22px;
    color: #F7F8FA;
    padding: 10px;
    margin: 8% auto 0 auto;
}
.checkout__btn-text {
    /* Checkout: */
    font-family: AvenirNext-DemiBold;
    font-size: 22.59px;
    color: #F7F8FA;
    letter-spacing: 0px;
    width: 60%;
    text-align: center;
}
.site__right-sidebar-toggle {
    display: none;
}
.bg-bottom {
    pointer-events: none;
    width: 100%;
    height: 50px;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: 2;
    background: linear-gradient(to bottom, rgba(196, 204, 218, 0) 0%, rgba(196, 204, 218, 1) 100%);
}
@media screen and (max-width: 950px) {
    .site__main {
        width: 60%;
    }
    .site__left-sidebar {
        width: 100px;
    }
    .site__title {
        /*font-family: AmericanTypewriter-Bold;*/
        /*color: #6B7A89;*/
        font-size: 30px;
        margin: 65px auto 33px 10%;
    }
    .site__content {
        margin-left: 100px;
        /*flex-basis: 0;*/
        /*flex-grow: 1;*/
    }
    .product {
        width: 100%;
        padding: 10px;
        /*flex-direction: column;*/
    }
    .site__right-sidebar {
        width: 40%;
    }
}
@media screen and (max-width: 600px) {
    .site {
        flex-direction: column;
        flex-wrap: nowrap;
        height: 100%;
        padding-right: 0;
        background: linear-gradient(to bottom, rgba(247, 248, 250, 1) 80%, rgba(247, 248, 250, 0) 100%);
    }
    .site__main {
        width: 100%;
        height: 100%;
        flex-direction: column;
    }
    .site__left-sidebar {
        text-align: center;
        width: 100%;
        height: 50px;
        /*position: relative;*/
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px #CCC solid;
        padding: 0 15px;
        background-color: rgba(247, 248, 250, 0.8);
        z-index: 2;
    }
    .site__title {
        font-size: 20px;
        margin: 0;
    }
    .site__heart-liked {
        height: 30px;
    }
    .site__content {
        margin-top: 50px;
        margin-left: 0;
        /*flex-basis: 0;*/
        /*flex-grow: 1;*/
    }
    .products {
        padding-bottom: 50px;
    }
    .product {
        width: 100%;
        padding: 10px;
        /*flex-direction: column;*/
    }
    .site__right-sidebar {
        width: 87%;
        position: fixed;
        top: 0;
        right: -100%;
        background: linear-gradient(to bottom, rgba(196, 204, 218, 1) 70%, rgba(196, 204, 218, 0) 100%), url('../img/bg.jpg') right bottom no-repeat;
        z-index: 3;
    }
    body.js-show-right-sidebar .site__right-sidebar {
        right: 0;
    }
    .site__right-sidebar-toggle {
        display: block;
        position: fixed;
        bottom: 0;
        right: 10px;
        z-index: 999;
        background-color: #000;
        padding: 5px 10px;
    }
    body.js-show-right-sidebar .site__right-sidebar-toggle {
        right: 87%;
    }
}
