<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>goto</title>
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" name="viewport">
    <link rel="stylesheet" type="text/css" href="../static/css/app.css">
    <script src="../static/js/jq.js"></script>
    <script src="../static/js/socket.io.js"></script>
    <script src="https://appsforoffice.microsoft.com/lib/1/hosted/office.js"></script>
    <script src="../static/js/goto.js"></script>
</head>

<body>
    <div class="btn">
        <h3 class="title">
            点击按钮控制PPT
        </h3>
        <!-- <button onclick="goToSlideByIndex('goToFirst')">首 页</button> -->
        <button onclick="goToSlideByIndex('goToPrevious')">上一页</button>
        <button onclick="goToSlideByIndex('goToNext')">下一页</button>
        <!-- <button onclick="goToSlideByIndex('goToLast')">尾 页</button> -->
        <div id="text"></div>
    </div>
</body>

</html>
