<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>goto</title>
    <meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" name="viewport">
    <!-- <link rel="stylesheet" type="text/css" href="../static/css/app.css"> -->
    <link href="//cdn.bootcss.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css" rel="stylesheet">
    <script src="../static/js/jq.js"></script>
    <script src="../static/js/socket.io.js"></script>
    <script src="https://appsforoffice.microsoft.com/lib/1/hosted/office.js"></script>
    <script src="../static/js/goto.js"></script>
</head>

<body>
    <div class="container" style="margin-top:100px;">
        <a href="?action=next" class="btn btn-lg btn-primary btn-block">下一页</a>
        <a href="?action=previous" class="btn btn-lg btn-success btn-block" style="margin-top:30px">上一页</a>
    </div>
</body>

</html>
