<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Vote</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/app.min.css">
</head>

<body>
    <div id="app">
        <div class="line">0</div>
        <div class="line">1</div>
        <div class="line">2</div>
        <div class="line">3</div>
        <div class="line">4</div>
    </div>
    <script src="../static/js/jq.js"></script>
    <script src="../static/js/echarts-all.js"></script>
    <script src="../static/js/socket.io.js"></script>
    <script src="../static/js/index.min.js"></script>
</body>

</html>
